{% extends 'base.html' %}{% load static%} {% block content%}
<!-- Page Header-->
<script src="{% static 'js/drugSearch.js' %}"></script>
<header
  class="masthead"
  style="background-image: url('{% static 'assets/img/pile.jpg' %}')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>Search for a Drug</h1>
          <h2 class="subheading">Opioids and Non-Opioids</h2>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Post Content-->
<article class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <br />
        <div class="search-flex">
          <input
            type="text"
            id="filterTable"
            onkeyup="filterDrug();"
            placeholder="Drug Name"
            class="form-control custom-flex-item"
          />

          <select
            id="filterIsOpioid"
            onchange="filterDrug();"
            class="form-control custom-flex-item"
          >
            <option selected value="">-- Is an Opioid --</option>
            <option value="TRUE">YES</option>
            <option value="FALSE">NO</option>
          </select>
        </div>
        <!--Table of drugs-->
        <table class="table table-striped cust-table">
          <thead class="thead thead-light">
            <th>Drug Name</th>
            <th>Is Opioid</th>
          </thead>
          {% for pill in drug %}
          <tr class="drugclass" id="{{ forloop.counter0 }}">
            {% with pill.drugname as mycustomdrugname %}
            <td id="{{forloop.counter0}}drugname">
              <a href="{% url 'drugDetail' drug=mycustomdrugname %}"
                >{{pill.drugname}}</a
              >
            </td>

            <td id="{{forloop.counter0}}isopiod">{{pill.isopiod}}</td>
            {% endwith %}
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</article>
{% endblock%}
