{% extends 'base.html' %}{% load static%} {% block content%}
<!-- Page Header-->
<script src="{% static 'js/prescriberDetail.js' %}"></script>
<header
  class="masthead"
  style="background-image: url('{% static 'assets/img/phone.jpg' %}')"
>

  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>{{dr}}</h1>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <form action="../addPrescriber/" method="post" id="thehiddensacredmostholyform" class="flex-form">{% csrf_token %}
            
            <div class="flex-half-two">
            <label for="fname">First Name: </label>
              <input type="text" id="fname" name="fname" placeholder="First Name" value={{dr.fname}} class="form-control" disabled/> <br>

              <label for="lname">Last Name: </label>
              <input type="text" id="lname" name="lname" placeholder="Last Name" value={{dr.lname}} class="form-control" disabled/><br>

              <label for="specialty">Specialty: </label>
              <input type="text" id="specialty" name="specialty" placeholder="Specialty" value={{dr.specialty}} class="form-control" disabled/>
              <br>
              <!--drop down for gender-->
              <label for="gender">Gender: </label>
              {% with dr.gender as myGender %}
              <select name="gender" id="gender"class="form-control custom-flex-item updateForm" disabled/>
                <option selected value=""> Select A Gender </option>
                {% if myGender == "M" %}
                  <option value="M" selected >Male</option>
                  <option value="F">Female</option>
                {% else %}
                  <option value="M">Male</option>
                  <option value="F" selected >Female</option>
                {% endif %}
              </select>
              {% endwith %}
              <br>
              <!--drop down for state-->
              <label for="state">State: </label>
              {% with dr.state as myState %}
              <select id="state" name="state" class="form-control custom-flex-item updateForm" disabled>
                <!--<option selected value="">Select A State</option>-->
                {% for state in states%}
                  {% if state.stateabbrev == myState %}
                    <option value="{{state}}" selected>{{state}}</option>
                  {% else %}
                    <option value="{{state}}">{{state}}</option>
                  {% endif %}
                {% endfor %}
              </select>
              {% endwith %}
              <br/>
              <label for="opioid">Is an Opioid Prescriber: </label>
              {% with dr.isopiodprescriber as myOpioid %}
              <select id="opioid" name="opioid" class="form-control updateForm" disabled>
                <option selected> -- Is DR an opioid presciber? -- </option>
                {% if myOpioid == "True"%}
                  <option value="True" selected>Yes</option>
                  <option value="False">No</option>
                {% else %}
                  <option value="True">Yes</option>
                  <option value="False" selected>No</option>
                {% endif %}
              </select>
              {% endwith %}
            </div>
            <input type="hidden" value="{{dr.npi}}" name="npi"/>
          </form>
          <input type="button" class="btn btn-secondary btn-margin" value="Update Prescriber" id="revealAndUpdateButton" onclick="updateHandler(this.id);"/>
          <span hidden id="npi" value="{{dr.npi}}"></span>
        </div>
      </div>

      

      <table class="table table-striped cust-table">
        <thead class="thead thead-light">
            <th>Drug Name</th>
            <th>Amount Prescribed</th>
            <th class="small">Average Amount Prescribed <br> By All Prescribers</th>
        </thead>
        {% for drug in drugList %}
        <tr class="drugVis" id="{{ forloop.counter0 }}">
          <td id="{{forloop.counter0}}drugName">{{drug.0}}</td>
          <td id="{{forloop.counter0}}drugAmount"><span id="{{drug.0}}P" value="{{drug.1}}">{{drug.1}}</span><input type="button" id="{{drug.0}}" onclick="buttonHandle(this.id)" value="Update"/></td>
          <td id="{{forloop.counter0}}avgPrescribed">{{drug.2}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    

  </main>
{% endblock%}
