{% extends 'base.html' %}{% load static%} {% block content%}
<!-- Page Header-->
<script src="{% static 'js/prescriberSearch.js' %}"></script>
<header
  class="masthead"
  style="background-image: url('{% static 'assets/img/pharma5.jpg' %}')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>Prescriber Search</h1>
          <span class="subheading">Search for a prescriber</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <h3 class="text-center">Input your search terms below</h3>
        <div class="search-flex">        
          <input type="text" id="filterTable" onkeyup="filter();" placeholder="Name, Credential, or Specialty" class="form-control custom-flex-item"/>
          <select id="filterByGender" onchange="filter();" class="form-control custom-flex-item">
            <option selected value=""> -- Select A Gender -- </option>
            <option value="M">M</option>
            <option value="F">F</option>
          </select>
          <select id="filterByState" onchange="filter();" class="form-control custom-flex-item">
            <option selected value="">-- Select A State --</option>
            {% for state in states%}
            <option value="{{state}}">{{state}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="btn-center">
          <input type="button" value="Add Prescriber" class="btn btn-primary custom-btn" id="thebuttontorevealthehiddensacredmostholyform" onclick="revealtheFORRMMMMMM();"/>
        </div>

        <div>
          <form action="../addPrescriber/" method="post" hidden id="thehiddensacredmostholyform" class="flex-form">{% csrf_token %}
            <input type="text" id="fname" name="fname" placeholder="First Name" class="form-control"/> 
            <input type="text" id="lname" name="lname" placeholder="Last Name" class="form-control"/>
            <input type="text" id="specialty" name="specialty" placeholder="Specialty" class="form-control" />
            <br>
            <!--drop down for gender-->
            <select name="gender" id="gender"class="form-control custom-flex-item">
              <option selected value=""> Select A Gender </option>
              <option value="M">Male</option>
              <option value="F">Female</option>
            </select>
            <br>
            <!--drop down for state-->
            <select id="state" name="state" class="form-control custom-flex-item">
              <option selected value="">Select A State</option>
              {% for state in states%}
                <option value="{{state}}">{{state}}</option>
              {% endfor %}
            </select>
            <br/>
            <select id="opioid" name="opioid" class="form-control">
              <option selected> -- Is DR an opioid presciber? -- </option>
              <option value="True">Yes</option>
              <option value="False">No</option>
            </select>
            <input type="button" class="btn btn-secondary btn-margin" value="submit" onclick="verifyForm();"/>
          </form>
        </div>
        <table class="table table-striped cust-table">
          
          <thead class="thead thead-light">
            <th>Name</th>
            <th>Gender</th>
            <th>State</th>
            <th>Specialty</th>
            <th>Credentials</th>
            <th>Delete</th>
          </thead>

          {% for dr in prescriber %}
            <tr class="drVis" id="{{ forloop.counter0 }}">
              {% with dr.0.npi as npi %}
                <td id="{{forloop.counter0}}name">
                  <a href="{% url 'drDetail' prescriber=npi %}">{{dr.0}}</a>
                </td>
                <td id="{{forloop.counter0}}gender">{{dr.0.gender}}</td>
                <td id="{{forloop.counter0}}state">{{dr.0.state}}</td>
                <td id="{{forloop.counter0}}spec">{{dr.0.specialty}}</td>
                <td id="{{forloop.counter0}}cred">
                  {% for cred in dr.1%}
                    <span>{{cred.credentials}} </span>
                  {% endfor %}
                </td>
                <td><a href="{% url 'delete' prescriber=npi %}">❌</a></td>
              {% endwith %}
            </tr>
          {% endfor %}

        </table>
      </div>
    </div>
  </div>
</main>
{% endblock%}
