body {
  background-color: white;
  color: black;
}

h1 {
  font-family: "Courier New", Courier, monospace;
}

.newFont {
  font-family: "Courier New", Courier, monospace;
}

.btncolor {
  color: white;

  background-color: #72accd;
}


.search-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.custom-flex-item {
  margin-right: 5px;
  margin-left: 5px;
}

.cust-table {
  table-layout: auto;
  box-shadow: 1,1,1,#000000;
}

.cust-table thead {
  background-color: #72accd;
}